<%- include("partials/header.ejs") %>


  <h1>Hello visitors!</h1>
  <h2>Thanks for checking me out...</h2>
  <h3>Here's a few things about me</h3>

  <ul>
    <li>Computer Science Engineering student</li>
    <li>Cyber Security Enthusiast</li>
    <li>Perpetual Infosec student</li>
    <li>Web Penetration tester</li>
    <li>A red teamer</li>
    <li>CTF player</li>
  </ul>

<h4>Recently found bugs</h4>
<ul>
  <li>Click here to see the<a href="/about"> POC</a></li>
    <li>Able to find a CMD execution on <a href="https://www.programiz.com">Programiz</a> leading to their compiler container,</li>
    <li>which was one of my greatest achievements in terms of bug bounty.</li>
    <li>However, they later ignored it.</li>

    <h5>POC</h5>
    <h5>POC</h5>
    <h5>POC</h5>
    <h5>POC</h5>
</ul>

<%- include("partials/footer.ejs") %>