<%- include("partials/header.ejs") %>
<body>
  <h1>About POC</h1>
  <img src="images/pov.png" alt="POC1" width="1000" height="auto" onclick="zoomIn(this)">
  <img src="images/find.png" alt="POC2" width="999" height="auto" onclick="zoomIn(this)">
  <p></p>
  <h5>POC</h5>
  <h5>POC</h5>
  <h5>POC</h5>
  <h5>POC</h5>
</body>
<%- include("partials/footer.ejs") %>